
body{
    margin: 0px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 1rem;
}

p{
    line-height: 2;
}

h1{
    margin: 15% auto 0 auto;
    font-family: 'Tangerine', cursive;
    color:#66BFBF;
    font-size: 562.5%;
}
h2{
    color: #66BFBF;
}

h3, a{
    color:#11999E;
}

span{
    text-decoration: underline;
    font-weight: normal;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: #EAF6F6;
    width: 5%;
    margin: 100px auto;
}
a{
    font-family: 'Cinzel', serif;
    text-decoration: none;
}
a:hover{
    color: #fff;
}


/*************************Class CSS***************/
.middle-container{
    margin-top: 100px;
}
.skill-head{

    color: #11999E;
}
.profile{
    color: #40514E;
}

.first-title{
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
}
.top{
   
    background-color: #EAF6F6;
    text-align: center;
    position: relative;
    padding-top: 100px;
   
}
.clouds1{
    position: absolute;
    top:10%;
    left:75%;
    width:15%;
    height: 7.5%;
    right: 200%;
    border-radius: 50%;
}
.clouds2{
    position: absolute;
    width:15%;
    height: 7.5%;
    left: 10%;
    top: 50%;
    border-radius: 80%;
}
.Scenery{
    width: 40%;
    height: 30%;
}
.profile-pic{
    height: 25%;
    width: 20%;
    border-radius: 100%;
}
.Engineer{
    width: 25%;
    float: left;
    padding: 0 30 0 0px;
}

.Programmer{
    width: 25%;
    float: right;
    padding: 0 0 30 0px;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
}

.skill-row p,h3{
    text-align: left;
    

}
.top p{
    font-family: 'Source Serif Pro', serif;
    font-size: 30px;
}

.bottom-container{
background-color: #66BFBF;
text-align: center;
padding: 20px 0;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #11cdd4;
    border: none;
    border-radius: 15px;
    margin: 25px 0 25px 0;
  }
  
  .button:hover {background-color: #30e3cb}
  
  .button:active {
    background-color: #11999e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .contact-me{
      margin: 40px auto 0;
      width: 40%;
      
  }
.footer-link{
    margin: 10px auto 0 auto;

}
.copyright{
    color: #EAF6F6;
   padding-top: 15px;
   font-size: 0.75rem;
}
